@import "../variables";

.service-tiles.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;

  .flex-item {
    flex: 1;
    max-width: 30%;
    min-width: 30rem;
    margin: 1.5rem;
    text-align: center;
    position: relative;
    
    &__container {
      height: 100%;

      &--content {
        height: calc(100% - 5rem);
      }
    }

    .service-tile__heading {
      height: 5rem;
      font-size: 2.5rem;
      padding: 1rem 0;
    }

    .service-tile__content {
      display: block;
      height: 100%;
      background-color: $light-grey;
      border: 1px solid black;

      &:hover {
        text-decoration: none;
      }

      .service-tile__image {
        background-color: white;
      }

      .service-tile__description {
        text-align: left;
        color: $black;
        padding: 0 1rem 6rem;
      }
       
      .service-tile__more {
        position: absolute;
        bottom: 2rem;
        left: 1rem;
        color: $black;
        text-decoration: underline;
      }
    }
  }
}
