@import "../variables";

.testimonials-container {
  padding: 1.5rem 0;

  .testimonial-container {
    border: solid 1px $mild-grey;
    background-color: $light-grey;

    @include breakpoint(sm) {
      display: flex;
      justify-content: flex-start;
    }

    .testimonial__image {
      padding: 2rem;

      img {
        border-radius: 50%;
      }
    }

    .testimonial__message {
      text-align: left;
      padding: 0 2rem 2rem;

      @include breakpoint(sm) {
        padding-top: 2rem;
      }
    }
  }
}