@import "../variables";

.testimonials-container {
  // text-align: left;
    padding: 1.5rem;

  .testimonial-container {
    padding: 2rem;
    border: solid 1px $mild-grey;
    background-color: $light-grey;

    .testimonial__image img {
      border-radius: 50%;
    }

    .testimonial__message {
      // float: right;
    }
  }
}