@import "../variables";

.home-news {
  h2 {
    color: $secondary;
    text-transform: uppercase;
    font-weight: bold;

    &:after {
      content: " ";
      width: 5rem;
      border-bottom: 3px solid;
      display: block;
      margin: 2rem auto 0;
    }
  }

  @include breakpoint(md) {
    padding-left: 10rem;
    padding-right: 10rem;
  }  

  @include breakpoint(lg) {
    padding-left: 15rem;
    padding-right: 15rem;
  }  
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;

    .flex-item {
      flex: 1;
      min-width: 80%;
      margin: 1.5rem;
      text-align: left;
      position: relative;
      border: solid 1px $line-color;

      &:hover .article-image {
        opacity: .7;
      }

      .article-image {
        width: 100%;
      }

      .article-heading {
        display: block;
        padding: 1rem 2.5rem;
        color: inherit;
        
        &:hover {
          text-decoration: none;
          cursor: pointer;
          color: $primary;
        }
      }
      
      .article-description {
        padding: 0 2.5rem 8rem;
      }
      
      a.article-link {
        font-size: 12px;
        padding: 9px 12px;
        background-color: $primary;
        border-radius: 5px;
        text-transform: uppercase;
        color: inherit;
        display: inline-block;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        transition: opacity 200ms ease-out;
        color: $white;

        &:hover {
          text-decoration: none;
          opacity: .7;
          cursor: pointer;
        }
      }

      @include breakpoint(xs) {
        min-width: 40%;
      }

      @include breakpoint(lg) {
        min-width: 30%;
      }
    }
  }
}
