$primary: #00b1c5;
$secondary: #7159a6;

$mild-grey: #77787b;
$light-grey: #bcbec0;
$mild-grey-transparent: rgba(119, 120, 123, .5);
$light-grey-transparent: rgba(188, 190, 192, .5);

$black: #222;
$white: #fff;
$white-transparent: rgba(255, 255, 255, .8);

$line-color: #e9edf1;
$shadow-color: #c1c1c1;
$icon-background-color: #f4f4f4;
$carousel-text-color: #fff;