$primary: #00b1c5;
$secondary: #7159a6;

$mild-grey: #77787b;
$light-grey: #bcbec0;

$black: #222;
$white: #fff;

$line-color: #e9edf1;
$shadow-color: #c1c1c1;
$icon-background-color: #f4f4f4;
$carousel-text-color: #fff;