@import "../variables";

.app-footer-container {
  background-color: $black;
  padding: 1rem;
  color: $white;

   @include breakpoint(sm) {
    .footer-text-container {
      display: inline;
    }
  }

  img {
    max-height: 10rem;
    margin-bottom: 2rem;
  }

  .contact-us {
    margin: 0 auto;

    @include breakpoint(xs) {
      float: right;
    }

    &__header {
      font-weight: bold;
      margin-bottom: 1rem;
      color: $primary;
    }

    &__address {
      font-size: 1.4rem;
    }
  }

  .footer-nav-bar {
    margin: 0 auto;

    @include breakpoint(xs) {
      float: left;
    }

    &__header {
      font-weight: bold;
      margin-bottom: 1rem;
      color: $primary;
    }

    nav {
      text-align: left;

      a {
        color: $white;

        &:hover {
          text-decoration: none;
          color: $primary;
        }
      }
    }
  }

  .copyright {
    font-size: 1rem;
    color: $primary;
  }
}
