@import "../variables";

.app-footer-container {
  background-color: $black;
  padding: 20px;
  text-align: left;

  img {
    width: 100%;
  }

  .contact-us {

  }

  .footer-nav-bar {

    & li:hover {
      color: $white;
    }
  }
}
