@import "../variables";

.app-header-container {
  &:not(.spacer) [class^="col"] {
    border-top: solid 1px $line-color;
    padding-top: 1rem;
    margin-top: 1.5rem;
  }

  .header-logo img {
    max-width: 100%;

    @include breakpoint(lg) {
      max-width: initial;
    }
  }

  .header-icon {
    display: inline-block;
    min-width: 17rem;

    &-facebook {
      display: inline-block;
    }

    &__icon {
      float: left;
      margin-right: 1rem;
      padding: .5rem;
      color: $light-grey;
      background-color: $icon-background-color;
      box-shadow: 1px 1px 2px 1px $shadow-color;
      border-radius: 5px;
      width: 4.2rem;
      height: 4.2rem;
      transition: all 200ms ease-out;

      &:hover {
        background-color: $primary;
        color: $white;
      }

      &.fa-facebook {
        font-size: 2rem;
        padding-top: 1.2rem;
      }
    }

    &-phone {
      display: inline-block;
      background-color: $primary;
      box-shadow: 1px 1px 2px 1px $shadow-color;
      border-radius: 5px;
      height: 4.2rem;
      width: 14rem;
      padding: 1rem 2rem 0 2rem;
      margin-bottom: 2rem;
      transition: opacity 200ms ease-out;

      &:hover {
        cursor: pointer;
        opacity: .7;
      }

      a {
        color: $white;
        font-size: 1.2rem;
      
        &:hover {
          text-decoration: none;
        }

        i {
          margin-right: .5rem;
          vertical-align: middle;
        }

        span{
          font-weight: bold;
        }
      }
    }

    &__container {
      text-align: left;

      &--title {
        padding-top: .3rem;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: bold;
        color: $mild-grey;
      }

      &--sub-title {
        color: $light-grey;
        font-size: 1.2rem;
      }
    }
  }

  .header-nav-bar {
    display: none;
    margin-top: 1.5rem;
    border-top: solid 1px $line-color;

    ul {
      list-style-type: none;
      font-size: 1.4rem;

      li {
        display: inline-block;

        a {
          color: $mild-grey;
          display: block;
          text-align: center;
          padding: 1.6rem 1.6rem 0;

          &:hover {
            text-decoration: none;
            color: $primary;
          }
        }
      }
    }
  }

  @include breakpoint(xs) {
    &:not(.spacer) [class^="col"] {
      border-top: none;
    }

    .header-nav-bar {
      display: block;
    }

    .header-logo img {
      width: initial;
    }

    .header-icon-phone {
      margin-bottom: 0;
    }
  }
}